@charset "UTF-8";
/* CSS Document */
body {
    background: #0D1E33;
    color: #777;
    font-family: 'Open Sans', Oxygen, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
h1, h2, h3, h4, h5, h6 {
    font-family: Oxygen, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    color: #3269AF;
}
a, .breadcrumb, .btn {
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.3px;
}
.accordion, .accordion a {
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.3px;
    text-transform: none;
}
.logo {
    height: 50px;
}
.navbar-dark .btn-link {
    color: #6F9EDA;
}
.navbar-dark .dropdown-menu.show {
    background: #142C4B;
    color: #EFEFEF;
    line-height: 2em;
}
.navbar-dark .dropdown-menu {
    padding: 0;
}
.navbar-dark .dropdown-item {
    color: #6F9EDA;
    padding: 10px;
    border-top: 1px solid #0D1E33;
}
.navbar-dark, .side-bar {
    background: #0D1E33 !important;
    padding: 1em;
    color: aliceblue;
    font-size: 16px;
}
.side-bar .row {
    background: #132C4B;
    color: #6F9EDA !important;
    margin: 1px;
}
.side-bar .btn-block {
    background: #142C4B !important;
}
.navbar-dark .btn-secondary {
    background: none;
    border: none;
    color: #6F9EDA;
    padding: 0.5em 2em;
}
.navbar-dark .btn-secondary:active {
    background: none;
    border-bottom: 5px solid #9EC8FF !important;
}
.navbar-dark .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
    background: none;
    border-bottom: 5px solid #9EC8FF !important;
}
.navbar-dark .btn-secondary .active {
    border-bottom: 5px solid #9EC8FF !important;
}
.navbar-dark .btn-secondary .focus {
    border-bottom: 5px solid #9EC8FF !important;
}
.btn-info {
    width: 2.3em;
    height: 2.3em;
    border-radius: 100%;
}
.btn-outline-dark {
    color: #999;
    border: 1px solid #999;
}
.accordion-top {
    font-size: 0.75em;
    padding: 10px 0;
}
.accordion-top .fa {
    display: block;
    width: 100%;
}
.accordion-group {
    color: azure !important;
}
.accordion-heading, .accordion-inner {
    display: block;
    color: #F3F3F3 !important;
    line-height: 2.5em;
}
.accordion-inner .col-6 {
    padding-left: 20px;
}
.main-view {
    background: #FFF;
    min-height: 70vh;
}
.breadcrumb {
    background: none;
}
.breadcrumb-item a {
    color: #142C4B !important;
}
.new-button {
    border-radius: 4px !important;
}
.table thead th {
    border-top: none;
    border-bottom: 1px solid #999;
}
.table .badge-success, .table .badge-danger {
    border-radius: 3px;
    display: block;
    padding: 0.25em;
    font-size: 1em;
    height: 1.4em;
    width: 1.4em;
}
th, td {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8em;
    vertical-align: middle;
}
table i {
    font-size: 1.4em;
    text-align: center;
    margin: auto 0;
}
.table-primary {
    background: #D8EBFF;
}
breadcrumb {
    background: none;
}
#nav-tdn-tab .active {
    border: 0px solid #FFF !important;
    background: red !important;
}
a .nav-link {
    background: green !important;
}
#nav-tab .nav-link {
    border: none;
    color: #666;
}
.nav-pills .nav-link {
    color: #999;
}
.nav-item.nav-link.active.show, a.nav-item.nav-link.active {
    border-bottom: 3px solid #93C1FF !important;
    color: #3B639A !important;
}
.card button.btn-link {
    color: #999;
}
#closed-tab, #open-tab, #overdue-tab {
    padding: 10px 40px;
    font-size: 0.9em;
}
#closed-tab.active.show {
    background: #999;
}
#open-tab.nav-link.active {
    background: #249D3D;
}
#overdue-tab.active.show {
    background: #D72E3D;
}
/* Footer */
footer {
    text-transform: uppercase;
    font-size: 0.85em;
    color: #6F9EDA;
}
footer a {
    padding: 0 1em;
    display: inline-block;
    color: #6F9EDA;
}
.m2 {
}
.table-md {
}
.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
