@charset "UTF-8";
/* CSS Document */

.logo {
	height: 50px;
}
.navbar-dark,
.side-bar {
	background: #0A1624 !important;
	padding: 1em;
}
.main-view {
	background: #F5F7FD;
}
.new-button {
	border-radius: 4px !important;
}
footer {
	background: #0A1624;
	color: #ACACAC;
	
}

th, td {
	font-size: 14px;
}

breadcrumb {
	background: none;
}.m {
}
