@charset "UTF-8";
body {
	background: #0A1624;
	color: #555;
	font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Oxygen, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #3269AF;
}
p {
	color: #555555;
}
label {
	font-size: .9em;
	font-weight: bold;
}
.breadcrumb {
	background: none;
	padding: 0;
	margin: 0;
}
.btn-outline-secondary {
	border: 1px solid rgba(143,143,143,1.00);
}